@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700&family=Montserrat:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&display=swap");

:root {
  --clr-dark-blue: hsl(212, 21%, 14%);
  --clr-gray-blue: hsl(228, 12%, 48%);
  --clr-cyan: hsl(158, 36%, 37%);
  --clr-dark-cyan: hsl(158, 37%, 25%);
  --clr-cream: hsl(30, 38%, 92%);
  --clr-white: hsl(0, 0%, 100%);
  --font-heading: "Fraunces", serif;
  --font-normal: "Montserrat", sans-serif;
  --radius: 2.5%
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--clr-dark-blue);
  font-family: var(--font-normal);
}

body {
  background-color: var(--clr-cream);
}

h1 {
  font-family: var(--font-heading);
}

p {
  font-size: 14px;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  height: 600px;
  width: 800px;
}


.left {
  width: 50%;
  height: 100%;
  background-image: url("/images/image-product-desktop.jpg");
  background-position: center;
  background-size: cover;
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
}

.right {
  width: 50%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  background-color: var(--clr-white);
  padding: 2.5rem;
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.category {
  line-height: 40px;
  letter-spacing: 6px;
}

.product-name {
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 1rem;
}

.description {
  line-height: 30px;
}

.price {
  display: flex;
  align-items: center;
}

.discount {
  margin: 1.25rem;
  margin-left: 0;
  color: var(--clr-cyan);
}

.regular {
  color: var(--clr-gray-blue);
  text-decoration: line-through;
}

.add {
  font-size: 1rem;
  height: 50px;
  color: var(--clr-white);
  background-color: var(--clr-cyan);
  border: none;
  border-radius: .5rem;
}

.add img {
  margin-right: 6px;
}

.add:hover {
  background-color: var(--clr-dark-cyan);
  cursor: pointer;
}


@media screen and (max-width: 415px) {
  .container {
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
  } 
  .card {
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    width: 100%;
  }
  .left {
    height: 40%;
    width: 100%;
    background-image: url('/images/image-product-mobile.jpg');
    border-top-right-radius: var(--radius);
    border-bottom-left-radius: 0;
  }
  .right {
    height: 60%;
    width: 100%;
  }

  .content {
    padding: 2rem;
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--radius);
  }
  
  .product-name {
    font-size: 1.75rem;
    line-height: 40px;
  }
}

@media screen and (max-width: 376px) {
  .content {
    justify-content: space-between;
  }

  .category {
    line-height: 16px;
  }

  .product-name {
    margin-bottom: 0;
  }

  .discount {
    margin: 0.25rem;

  }
}